<h1>{{postTitle}}</h1>
{{#each images}}
<img src={{this}} width="auto" height=300 alt={{workoutType}}>
{{/each}}

{{#when postObj.postLikes.length 'eq' 1}}
    <h3>{{../postObj.postLikes.length}} like</h3>
{{/when}}

{{#when postObj.postLikes.length 'noteq' 1}}
    <h3>{{../postObj.postLikes.length}} likes</h3>
{{/when}}

<h3>Comments</h3>
{{#each postObj.comments}}
    {{> comment}}
{{/each}}


<h2>{{workoutType}}</h2>
<p>{{postDescription}}</p>