<h1> {{name}} </h1>

<img src={{imgSrc}} width=100 height=100>

<h2> About me</h2>

<h3> {{aboutme}}</h3>


<h2> Streaks</h2>
<h3> {{streak}}</h3>

<h2> Goals</h2>
<ul>
    {{#each goals}}
      <li> {{this}} <li>

    {{/each}}
</ul>

{{#if isCurr}}
<h3>
    <a href = "/profile/edit">Edit Profile</a>
</h3>
<h3>
  <a href = "/profile/get-analytics"> Get analytics</a>
</h3>




<h4>Perfect work out for you</h4>
{{#with workout}}
<p>{{workoutName}}</p>
<p>{{equipment}}</p>
    <p>{{duration}} minutes</p>
    <p>{{level}}</p>
    <p>{{reps}} reps</p>
    <p>{{rounds}} rounds</p>
    <p>{{tags}}</p>
{{/with}}
{{/if}}

