



<h1>Name: {{userid}}</h1>
<h2> About me</h2>
<h3> {{aboutme}}</h3>

<h2> Following: {{following}}</h2>
<h2> Followers: {{followers}}</h2>

<h2> Streaks</h2>
<h3> {{streak}}</h3>

<h2> Goals</h2>
{{#if goalsempty}}
 <h3> {{goals}}</h3>
{{else}}
<ul>
    {{#each goals}}
      <li> {{this}} <li>

    {{/each}}
</ul>
{{/if}}

{{#if isprofile}}
<h3>
    <a href = "/profile/edit/">Edit Profile</a>
</h3>

{{/if}}





