<form action="/recommendation/search" method="POST" id="rec-search">
    <label for="keyword">Search Recommendations by Keyword</label>
    <input id="keyword" type="text" name="keyword" id="keyword" placeholder="chest,bar,easy,etc">
    <label for="search-button">Search</label>
    <input id="search-button" type="submit" value="Search">
</form>
<p>{{error}}</p>
<h4>Perfect work out for you</h4>
{{#each recs}}

  <div class="recommendation">
    <a href="/recommendation/{{this._id}}"><p>{{this.workoutName}}</p> </a>
    <p>Equipment: {{this.equipment}}</p>
    <p>Duration: {{this.duration}} minutes</p>
    <p>Level: {{this.level}}</p>
    <p>Intensity: {{this.reps}} reps</p>
    <p>{{this.rounds}} rounds</p>
    <p>Tags: {{this.tags}}</p>
  </div>

{{/each}}
{{#if coach}}
    <button onclick="window.location.href='/recommendation/add'">Add a recommendation</button>
{{/if}}
<div id="error-search" class="error" hidden>I'm an error. I will change through Client-Side JS</div>