<h4>Perfect work out for you</h4>
{{#each recs}}
<a href="/recommendation/{{this._id}}">
  <div class="recommendation">
    <p>{{this.workoutName}}</p>
    <p>{{this.equipment}}</p>
    <p>{{this.duration}} minutes</p>
    <p>{{this.level}}</p>
    <p>{{this.reps}} reps</p>
    <p>{{this.rounds}} rounds</p>
    <p>{{this.tags}}</p>
  </div>
</a>
{{/each}}
