<h4>Perfect work out for you</h4>
{{#each recs}}
<a href="/recommendation/{{this._id}}">
  <div class="recommendation">
    <p>{{this.workoutName}}</p>
    <p>Equipment: {{this.equipment}}</p>
    <p>Duration: {{this.duration}} minutes</p>
    <p>Level: {{this.level}}</p>
    <p>Intensity: {{this.reps}} reps</p>
    <p>{{this.rounds}} rounds</p>
    <p>Tags: {{this.tags}}</p>
  </div>
</a>
{{/each}}
